<h1 class="title">Les personnes déjà inscrites sont :</h1>
<section>
	<table class="tableauInscrits">
		<thead>
			<tr>
				<th style="width:100px">Nom</th>
				<th style="width:100px">Prénom</th>
				<th style="width: 250px;">Email</th>
				<th style="width: 150px;">status</th> 		
			</tr>
		</thead>
		<tbody class="tbodyInscrit">
			<tr *ngFor="let u of listeUsers">
				<td style="width: 100px;">{{ u.nom }}</td>
				<td style="width: 100px;">{{ u.prenom }}</td>
				<td style="width: 250px;">{{ u.email }}</td>
				<td style="width: 150px;"><span *ngIf="u.status != 'user'">{{ u.status }}</span></td>
			</tr>
		</tbody>
	</table>
</section>
