<div id="rgpd-message" class="rgpd-message">
    
  <h1>Mentions Légales</h1>

  <section>
    <h2>1. Éditeur du site :</h2>
    <p>Antoine Vacossin / CyTECH<br>
    2 Bd Lucien Favre Pau<br>
    01 34 25 10 10<br>
    cytech-orientation@cyu.fr</p>
  </section>

  <section>
    <h2>2. Directeur de la publication :</h2>
    <p>Vacossin Antoine<br>
    vacossinan@cy-tech.fr</p>
  </section>

  <section>
    <h2>3. Hébergeur du site :</h2>
    <p>Firebase<br>
    </p>
  </section>

  <section>
    <h2>4. Protection des données personnelles :</h2>
    <p>Conformément à la loi sur la protection des données personnelles, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ces droits, veuillez nous contacter à ouioui@oui.fr .</p>
  </section>

  <section>
    <h2>5. Propriété intellectuelle :</h2>
    <p>Le contenu de ce site est protégé par les lois sur la propriété intellectuelle. Toute reproduction, totale ou partielle, est interdite sans autorisation préalable.</p>
  </section>

  <section>
    <h2>6. Cookies :</h2>
    <p>Ce site utilise des cookies pour améliorer l'expérience de l'utilisateur. En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.</p>
  </section>

  <section>
    <h2>7. Liens externes :</h2>
    <p>Ce site peut contenir des liens vers des sites externes. Nous ne sommes pas responsables du contenu de ces sites externes.</p>
  </section>

</div>
